.signUp-container {
  min-height: 100vh;
  color: #474746;

  margin-left: 0%;
}
.main-container {
  width: 80%;
}
.signUp-img {
  background-image: url("./img/SignUp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
.Login-img {
  background-image: url("./img/Login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
.form-error {
  color: red;
}
.required {
  color: #d80073;
}

.signUp-Header {
  color: #474746;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.signUp-login-Link {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}
.signUp-line {
  display: inline-block;
  width: 42%;

  margin-bottom: 3px;

  border-top: 1px solid #a5a5a5;
}
.signUp-form {
  /* background-color: #474746; */
  margin: 2px 8px;
}
.label {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.form-Field {
  border-radius: 5px;
  border-color: #a5a5a5 !important;
  border-top: 2px solid #a5a5a5 !important;
  border-left: 2px solid #a5a5a5 !important;

  padding: 5px;
}
.email-field {
  width: 100%;
  margin-left: 2px;
  margin-top: 2px;
}

.name-field {
  width: 100%;
}
.Fname {
  margin-left: -4px;
}
.btn-Submit {
  background-color: #e9d023;
  border-style: none;
}
.main-btn {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  width: 95%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #474746;
  margin: 10px;
}
.btn-guest {
  background-color: transparent;
  border: 1px solid #e9d023;
}
.Salutation {
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.check-style {
  font-size: 16px;
  font-weight: 700;
}
.cursor-pointer {
  cursor: pointer;
}
.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  border-right-style: none;
}
.react-international-phone-input-container .react-international-phone-input {
  color: #a5a5a5;
  max-width: 50%;
  caret-color: transparent;
}

@media only screen and (max-width: 768px) {
  .logo {
    margin: 10px auto !important;
    max-width: fit-content;
  }
  .main-container {
    width: 100%;
  }
}
