.signUp-container {
  background-color: olivedrab;
  min-height: 100vh;
  color: #474746;
  /* margin-right: 20%; */
  margin-left: 0%;
}
.signUp-img {
  background-image: url("./img/Mask\ Group\ 515.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
.form-error {
  color: red;
}
.required {
  color: #d80073;
}
.signUp-Header {
  color: #474746;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}
.signUp-login-Link {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}
.signUp-line {
  display: inline-block;
  width: 45%;

  margin-bottom: 3px;

  border-top: 1px solid #a5a5a5;
}
.signUp-form {
  /* background-color: #474746; */
  margin: 2px 8px;
}
.label {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.form-Field {
  border-radius: 5px;
  border-color: #a5a5a5 !important;
  border-top: 2px solid #a5a5a5 !important;
  border-left: 2px solid #a5a5a5 !important;

  padding: 5px;
}
.email-field {
  width: 100%;
  margin-left: 2px;
  margin-top: 2px;
}

.name-field {
  width: 100%;
}
.country-code {
  /* max-height: 20%; */
}
